files:
    "/sbin/appstart" :
        mode: "000755"
        owner: webapp
        group: webapp
        content: |
            #!/usr/bin/env bash
            JAR_PATH=/var/app/current/application.jar

            # run app
            # killall java
            # java -Dfile.encoding=UTF-8 -jar $JAR_PATH
            java -Dfile.encoding=UTF-8 -jar $JAR_PATH > /var/log/web.stdout.log 2>&1 &
            echo $! > /var/pids/web.pid
